body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: gainsboro;
    color: #282828;
    max-width: 800px;
}

.fantasy {
    font-family: 'IM Fell English', serif;
}

.sci-fi {
    font-family: 'Michroma', sans-serif;
}

/* HEADER */

header {
    background-color: #282828;
    color: whitesmoke;
}

ul {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    margin: 0;
    list-style-type: none;
    gap: .75rem; /* add space between elements in flex container, but not edges */
    position: relative;
}

li {
    cursor: pointer;
}

.logo {
    font-size: 1.25rem;
    font-weight: 700;
}

.icon {
    width: 1.5rem;
}

.align-right {
    margin-left: auto; /* push the <li> to the right in the flex container */
}

/* HERO SECTION */

.hero {
    background-color: white;
}

h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 2rem 1.5rem;
    line-height: 2.75rem;
}

/* ITEM SECTIONS */

.item {
    position: relative;
    background-color: white;
}

.item-img {
    width: 100%;
    display: block; /* images are inline, so have top/bottom margins to stop them from running into the top/bottom of long letters like "y" */
}

.img-banner {
    position: absolute; /* also makes element only as wide as it needs to hold content */
    top: 0;
    left: 0;
    background-color: #cd6858;
    color: whitesmoke;
    padding: .75rem
}

.caption {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 1.25rem;
    margin: 0 1.5rem;
}    

button {
    border: none;
    background-color: #cd6858;
    color: whitesmoke;
    padding: .75rem 1rem;
    font-weight: 700;
    cursor: pointer;
    align-self: center; /* instead of align-items: center on parent, aligns specific item */
}

button:hover {
    transform: scale(1.1);
}

a {
    align-self: center;
}

/* CHATBOX */

.chatbox-container {
    position: fixed;
    bottom: .5rem;
    right: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dda15e;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: 1px 1px 5px #999;
    cursor: pointer;
}

.chatbox-img {
    width: 50%;
}

/* MENU */

#burger {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
}
/* 
#burger:hover ~ #menu,
#burger:focus ~ #menu,
#burger:active ~ #menu {
    display: block;
    position: absolute;
    right: 1.5rem;
    top: 3rem;
} */

#menu {
    /* outline: 1px solid red; */
    background-color: #282828;
    position: absolute;
    right: 1.5rem;
    top: 3rem;
    text-align: right;
    padding: 1rem ;
    line-height: 2rem;
    border-bottom: 3px solid #cd6858;
}

.menu-hide {
    display: none;
}

#menu a {
    color: whitesmoke;
    text-decoration: none;
}

#menu a:hover {
    color: #cd6858;
}