body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */

header {
    background-color: #282828;
    color: whitesmoke;
}

ul {
    display: flex;
    padding: 1.5rem;
    list-style-type: none;
}

.logo {
    font-size: 1.25rem;
    font-weight: 700;
}

nav img {
    width: 1.5rem;
    margin: 0 1rem;
}

/* HERO SECTION */

h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 2rem 1.5rem;
    line-height: 2.75rem;
}

/* ITEM SECTIONS */

.item img {
    width: 100%;
}

.caption {
    margin: 0 1.5rem;
}    
